.carousel {
    position: relative;
    width: 95%;
    max-width: 1300px;
    height: 460px;
    margin: 20px auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  

  .carousel img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }
  

  .carousel-item img:hover {
    transform: scale(1.03);
  }
  

  @media (max-width: 768px) {
    .carousel {
      height: 180px;
    }
  }
  
  @media (max-width: 480px) {
    .carousel {
      height: 150px;
    }
  }