.footer {
    background: #2a5c82;
    color: white;
    padding: 40px 0 20px;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 0 20px;
  }
  
  .footer-section {
    margin-bottom: 20px;
    /* display: flex; */
  }
  
  .footer-section a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-logo {
    width: 45px;
    display: flex;
  }
  
  .social-links {
    margin-top: 20px;
  }
  
  .social-links a {
    color: white;
    font-size: 24px;
    margin-right: 15px;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color: var(#ffc107);
  }
  
  .footer-section h4 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    border-bottom: 2px solid #ffc107;
    padding-bottom: 5px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
    text-decoration: none;
    color: white;
  }
  
  .contact-inf i {
    margin-right: 10px;
    width: 20px;
  }
  
  .newsletter-form input {
    padding: 7px;
    width: 79%;
    border: none;
    border-radius: 15px 15px 0 0px;
    margin-bottom: 0px;
  }
  .newsletter-form input:focus {
    outline: none;
    transition: 0.3s ease;
  }
  
  .newsletter-form button {
    align-self: center;
    padding: 6px 10px;
    background: #ffc107;
    margin: 0px;
    border: none;
    border-radius: 0 0 15px 15px;
    cursor: pointer;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 20px;
    margin-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .footer-bottom p {
    font-size: 0.9rem;
    opacity: 0.8;
  }
  
  
  @media (max-width: 768px) {
    .footer-container {
      grid-template-columns: 1fr !important;
      text-align: center;
    }
  
    .newsletter-form input {
      width: 100%;
      border-radius: 8px;
    }
  
    .newsletter-form button {
      width: 100%;
      border-radius: 8px;
    }
  }
  