

.homepage-wrapper {
  // background: radial-gradient(circle at top left, #00fff0, #00313c, #0f0f0f);
  background-size: 400% 400%;
  animation: gradientShift 30s ease infinite;
  min-height: 100vh;
  overflow-x: hidden;
  color: #000; // default text color for light theme
  transition: background 0.5s ease, color 0.5s ease;

  &.dark {
    color: #f0f0f0;

    .homepage-about {
      color: #b7fffb;

      h2 {
        color: #00fff0;
        text-shadow: 0 0 5px #00fff0;
      }

      .homepage-about-card {
        border-color: #00fff0;

        h3 {
          color: #ffffff;
        }

        p {
          color: #e0f7f7;
        }
      }
    }
  }
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.homepage-projects {
  padding: 40px 20px;
  position: relative;
  z-index: 2;
}

/* ======= About Section ======= */
.homepage-about {
  padding: 60px 20px 50px 20px;
  text-align: center;
  overflow: hidden;
  position: relative;
  color: #0a3b3a;

  h2 {
    font-size: 3rem;
    margin-bottom: 40px;
    color: #000000;
    text-shadow: 0 0 5px #00fff0;
    transition: color 0.3s ease, text-shadow 0.3s ease;

    &.dark {
      color: #00fff0;
      text-shadow: 0 0 5px #00fff0;
    }
  }
  .homepage-about-card {
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    margin: 40px auto 20px auto;
    padding: 50px 30px;
    max-width: 1200px;
    height: 375px;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    transition: all 0.4s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 40px rgba(0, 255, 255, 0.3);
          border-left: 5px solid #00fff0;
    border-right: 5px solid #00fff0;
      border-color: #007bff;
    }

    .content {
      z-index: 2;
      position: relative;

      h3 {
        font-size: 2.5rem;
        margin-bottom: 50px;
        color: #000;
      }

      p {
        font-size: 1.25rem;
        line-height: 1.75;
        color: #011211;
        max-width: 800px;
        margin: 0 auto;
      }
    }
  }
}

/* ======= Strength Section Wrapper ======= */
.strength-section {
  padding: 60px 20px;
  z-index: 1;
  position: relative;
}

/* ======= Responsive Styles ======= */
@media (max-width: 992px) {
  .homepage-about h2 {
    font-size: 2.5rem;
  }

  .homepage-about .content h3 {
    font-size: 2rem;
  }

  .homepage-about .homepage-about-card p {
    font-size: 1.1rem;
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  .homepage-about-card {
    padding: 30px 20px;
  }

  .homepage-about .content h3 {
    font-size: 1.8rem;
  }

  .homepage-about .homepage-about-card p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .homepage-about h2 {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .homepage-about .homepage-about-card {
    padding: 25px 15px;
  }

  .homepage-about .content p {
    font-size: 0.95rem;
  }
}
