.skills-section {
    padding: 4rem 0;
    background: transparent;
  }
  .skill-card {
    border: none;
    background: transparent;
    box-shadow: 0 13px 14px rgb(35 117 145);
    transition: transform 0.2s;
  }
  .skill-card:hover {
    background: whitesmoke;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);

    transform: translateY(-5px);
  }
  .skill-icon {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  .skill-section-title {
    text-align: center;
    margin-bottom: 3rem;
    font-weight: bold;
  }
  @media (max-width: 768px) {
    .project-card.expanded {
      flex-direction: column !important;
      min-height: auto;
    }
  
    .project-card .card-img-top {
      width: 100% !important;
      height: auto;
    }
  }
  