.vertical-projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  padding: 60px 20px;
}
.project-row {
  display: flex;
  flex-wrap: wrap;
}

.project-col {
  transition: all 0.4s ease;

  &.expanded {
    flex: 0 0 100%;
    max-width: 100%;
    z-index: 2;
  }
}

